/* hub specific CSS */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.td-narrow input {
	width: 40px;
}

.td-narrow-right {
	width: 80px;
	text-align: right;
}

.projectDescription,
.projectDescription select {
	width: 250px;
}
.th-expenseValues,
.td-expenseValues {
	width: 120px;
	text-align: right;
	padding-right: 60px;
}
.th-expenseProject,
.td-expenseProject {
	width: 300px;
}
.formButtons {
	float: right;
	padding-right: 5px;
}

.deleteBox {
	width: 32px;
}
.expenseDate {
	width: 130px;
}
.result-header {
	display: block;
}
.result-scroll {
	display: block;
	height: 200px;
	overflow: auto;
}